<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>

 <body>
    <h1> New Team <h2>
    <form method = "POST" action="/team">
    <div>
        <label for='name'> Team Name: 
        <input type = "text" name="name">
    </div>
    <div>
        <label for='coach'> Coach:
        <input type = "text" name="coach">
    </div>
    <div>
        <label for='pg'> Point Guard:
        <input type = "text" name="pg">
    </div>
    <div>
        <label for='sg'> Shooting Guard:
        <input type = "text" name="sg">
    </div>
    <div>
        <label for='sf'> Small Forward:
        <input type = "text" name="sf">
    </div>
    <div>
        <label for='pf'> Power Forward:
        <input type = "text" name="pf">
    </div>
    <div>
        <label for='c'> Center:
        <input type = "text" name="c">
    </div>
    <div>
    <input type = 'submit' id='Submit'>
    </div>
    </form>

 </body>
</html>


